<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{appTitle}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <!-- Navigation bar (conditionally displayed based on login status) -->
  <header>
    <nav>
      <a href="/">Home</a>
      {{#if user}}
        <a href="/rooms">Rooms</a>
        <a href="/logout">Logout</a>
      {{else}}
        <a href="/login">Login</a>
        <a href="/signup">Sign up</a>
      {{/if}}
    </nav>
  </header>

  <!-- Main body content will be injected here -->
  {{{body}}}

  <!-- Script file for front-end JavaScript -->
  <script src="/js/script.js"></script>
</body>

</html>
